@import "tailwindcss";

@font-face {
  font-family: Inter;
  src: url("./assets/Inter-VariableFont_opsz\,wght.ttf");
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  src: url("./assets/Montserrat-VariableFont_wght.ttf");
  font-display: swap;
}

:root {
  --color-primary: #FF6E01;
  --color-background: #000000;
  --color-medium-gray: #222222;
  --color-dark-gray: #111111;
  --color-border: #1A1A1A;
  --color-text-secondary: #CCCCCC;
  --color-glow: #FFB366;

  --font-heading: 'Montserrat';
  --font-sans: 'Inter';

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-medium-gray {
  background-color: var(--color-medium-gray);
}

.bg-dark-gray {
  background-color: var(--color-dark-gray);
}

.text-secondary {
  color: var(--color-text-secondary);
}

.text-glow {
  color: var(--color-glow);
  box-shadow: 0px 0px 10px rgba(255, 110, 1, 0.6)
}

.font-heading {
  font-family: var(--font-heading);
}

.font-sans {
  font-family: var(--font-sans);
}

.border-r-glow {
  border-right: 1px solid #FFB366;
  box-shadow: inset 0px 0px 10px rgba(255, 110, 1, 0.6);
}

.border-glow {
  border: 1px solid #FFB366;
  box-shadow: inset 0px 0px 10px rgba(255, 110, 1, 0.6);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
